<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="../static/newchallengeform.css">

</head>
<body>
    <div class="mobile-container">

        <header>
            <nav>
                <div class="logo">
                    <!-- <a href="#"><img src="{{url_for('static', filename='/Logo.png')}}" alt="" width="120px"></a> -->
                     <a><img src="../static/Logo.png" alt="" width="120px"></a>
                </div>
            </nav>
        </header> 

        <div>
        <h3>완료한 챌린지</h3>
        <span style="font-weight: bold;">2024/06/17 ~ 2024/06/24</span>        
        <textarea name="detail" id="detail" readonly>챌린지내용</textarea>
        <p></p>
        
        
            

        </div>


    </div>


</body>
</html>