<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <!-- <link rel="stylesheet" href="../static/newchallengeform.css"> -->

    <style>




    </style>

</head>
<body>
    <div class="mobile-container">

        <header>
            <nav>
                <div class="logo">
                    <!-- <a href="#"><img src="{{url_for('static', filename='/Logo.png')}}" alt="" width="120px"></a> -->
                     <a><img src="../static/Logo.png" alt="" width="120px"></a>
                </div>
            </nav>
        </header> 

        <div>
        <h3>완료한 챌린지</h3>

        </div>

        <div class="finished-challenges">
            <div class="challenge">
                <h3>완료된 챌린지 1번</h3>
                <p>2024/05/01 ~ 2024/05/31</p>
            </div>
        
            <div class="challenge">
                <h3>완료된 챌린지 2번</h3>
                <p>기간</p>
            </div>
        
            <div class="challenge">
                <h3>완료된 챌린지 3번</h3>
                <p>기간</p>
            </div>
        </div>



    </div>

    
</body>
</html>