<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/testOh.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?
    family=Montserrat:ital,wght@1,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1de9391d12.js" crossorigin="anonymous"></script>
    <!-- <script src="main.js" defer></script> -->

    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/index.css">
    <style>
        .cont {
            display: flex;
            justify-content: left;
            overflow-x: auto;
            flex-wrap: nowrap;
        }
        .chl {
            width: 300px;
            height: 400px;
            border: 1px solid black;
            margin: 0 30px;
            flex: 0 0 auto;
        }
        .thumbnail {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
        #form {
            width: 800px;
            min-height:900px;
            padding: 60px;
            margin-top: 100px;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

    <div class="mobile-container">
        <header>
            <nav>
                <div class="navbar_logo" id="topHeader">                   
                        <a href="#"><img src="{{url_for('static', filename='/Logo.png')}}" alt="" width="120px"></a>                  
                </div>
            </nav>
        </header>

    <div class="status-bar">
        <nav class="navbar">
            <a href="#" class="navbar_toogleBtn">
                <i class="fa-solid fa-thumbs-up"></i>
            </a>
        </nav>

        <nav>
            <ul class="navbar_menu">

                <li>홈</li>
                <li><a href="/userhome">피드</a></li>
                <li>추천</li>

                <ul class="navbar_icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <a href = '/myPage'><i class="fa-solid fa-bars"></i></a>
                    
                </ul>
            </ul>
        </nav>
    </div>
    <nav id="side">
        <div class="menu-btn">
          <div class="line line--1"></div>
          <div class="line line--2"></div>
          <div class="line line--3"></div>
        </div>
      
        <div class="nav-links">
          <a href="" class="link">Home</a>
          <a href="" class="link">Contact</a>
          <a href="" class="link">Profile</a>
          <a href="" class="link">About</a>
        </div>
      </nav>



    {% set userJch = [] %}
    {% set userLch = [] %}
    {% if current_user.is_authenticated %}
        {% set userJch = current_user.get_joinCh() %}
        {% set userLch = current_user.get_likeCh() %}
        <p><a href="/user/{{current_user.get_id()}}">{{current_user.get_name()}}</a>님 환영합니다.</p>
        <a href = '/logout'>로그아웃</a><br>
        <a href = '/newchallengeform'>챌린지 개설하기</a>
        <h3>참여중인 챌린지</h3>
        <div id="join-container" class="cont">
        {% for i in userJch %}
            <div id="jch-container-{{i}}" class="chl">
                <a href="/challenge?index={{i}}">
                <img id="jch-img-{{i}}" class="thumbnail" src='http://127.0.0.1:5051/getimg?id={{chalInfo[i]["IMG_ID"]}}'>
                <h1 id="jch-title-{{i}}">{{chalInfo[i]['TITLE']}}</h1>
                <p id="jch-detail-{{i}}">{{chalInfo[i]['DETAIL']}}</p>
                </a>
            </div>
        {% endfor %}
        </div>
        <h3>관심있는 챌린지</h3>
        <div class="cont">
            {% for i in userLch %}
                <div id="lch-container-{{i}}" class="chl">
                    <a href="/challenge?index={{i}}">
                    <img id="lch-img-{{i}}" class="thumbnail" src='http://127.0.0.1:5051/getimg?id={{chalInfo[i]["IMG_ID"]}}'>
                    <h1 id="lch-title-{{i}}">{{chalInfo[i]['TITLE']}}</h1>
                    <p id="lch-detail-{{i}}">{{chalInfo[i]['DETAIL']}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <br>
        <a href = '/loginform'>로그인</a><br>
    {% endif %}
    <h3>인기 챌린지</h3>
    <div id="popular-container" class="cont">
    {% for i in likeList %}
        <div id="pch-container-{{i}}" class="chl">
            <a href="/challenge?index={{i}}">
            <img id="pch-img-{{i}}" class="thumbnail" src='http://127.0.0.1:5051/getimg?id={{chalInfo[i]["IMG_ID"]}}'>
            <h1 id="pch-title-{{i}}">{{chalInfo[i]['TITLE']}}</h1>
            <p id="pch-detail-{{i}}">{{chalInfo[i]['DETAIL']}}</p>
            </a>
        </div>
    {% endfor %}
    </div>

</div>  <!-- 모바일 컨테이너 -->

    <script>
        const userJch = {{userJch}};
        const userLch = {{userLch}};
        const pch = [{% for i in likeList %}{{i}}, {% endfor %}];
    </script>
    <script src="../static/index.js"></script>
    <script src="../static/testOh.js"></script>
</body>
</html>