<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1de9391d12.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../static/img/icon.png"/>
    <title>WH:ILE</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/post.css">
</head>
<body>
    <header>
        {% include 'header.html' %}
        <div class="second-header">
            <ul>
                <li><a href="/challenge?index={{postInfo['CHAL_IDX']}}">챌린지</a></li>
                <li><a href="#" class="active">피드</a></li>
            </ul>
        </div>
    </header>
    {% include 'nav.html' %}
    <div class="main-body">
        <section id="post">
            <a href="/user/{{postInfo['WRITER']}}" style="width:100%;">
                <div class="profile">
                    <img class="post-profile-image" src="http://{{imgserver}}/getimg?id={{userInfo[postInfo['WRITER']]['IMG_ID']}}" alt="게시물이미지">
                    {{userInfo[postInfo['WRITER']]['NICK']}}
                </div>
            </a>
            <div class="post-date">
                {{postInfo['POSTED_AT']}}
            </div>
            <div class="post-content">
                <div class="post-text-box">
                    {{postInfo['CONTENT']}}
                </div>
                <div class="post-img-box">
                    {% if postInfo['IMG_ID'] != None %}
                    <img class="post-img" src="http://{{imgserver}}/getimg?id={{postInfo['IMG_ID']}}">
                    {% endif %}
                </div>
            </div>
            <div class="post-menu-container">
                <div class="post-menu"><i class="fa-solid fa-comment"></i> <span>{{postInfo['CMT_LIST']|length}}</span></div>
                <div class="post-menu" id="like-{{postInfo['ID']}}" onclick='postLike(this)'><i class="fa-solid fa-heart"></i> <span>{{postInfo['LIKE_LIST']|length}}</span></div>
            </div>
        </section>
        <section>
            {% if current_user.is_authenticated %}
        <div class="comment-box">
            <div class="profile">
                <img class="comment-profile-image" src="http://{{imgserver}}/getimg?id={{current_user.get_img_id()}}" alt="">
                <div class="comment-content">
                    <div class="comment-username">{{current_user.get_nick()}}</div>
                    <textarea id="content"></textarea>
                </div>
            </div>
            <div class="comment-menu-container">
                <button id="submit">작성</button>
            </div>
        </div>
        {% endif %}
        </section>
        <section id="cmt">
        </section>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
    <script>const imgserver = '{{imgserver}}'</script>
    <script src="../static/js/post.js"></script>
</body>
</html>