<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/join.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="mobile-container">
    <div id="logo">
        <img src="/gyer-u/ImageServer/static/img/logo.webp">
    </div>
    <br>
    <div id="myPageIndex">
        <h1>마이페이지</h1>
    </div>
    <br>
    <div>
        <h2>
            <button onclick="logout">
                <a href="./indexLogin.html">로그아웃</a>
            </button>
        </h2>

    <br>

    <br>
    
            <h2>
            <a href="#">진행중인 챌린지</a>
        </h2>
        <h2>
            <a href="#">완료된 챌린지</a>
        </h2>
        <h2>
            <a href="#">회원정보 수정</a>
        </h2>
    </div>
</div>
    
</body>
</html>