<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/myPage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <style>
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
    }
    p {
        font-size: 14px;
        color: #6A24FE;
    }
    </style>

    <title>userUpdate</title>
</head>
<body>
    <div class="mobile-container">
        <header>
            <nav>
                <div class="navbar_logo" id="header">
                    <a href="#"><img src="{{url_for('static', filename='/Logo.png')}}" alt="" width="120px"></a>
                    <a href="#"><img src="../static/Logo.png" alt="" width="120px"></a>
                </div>
            </nav>
        </header>
        <hr style="background-color: #6A24FE;">
        <hr style="background-color: #6A24FE;">
        
        <div class="myPage">
            <h2 style="padding:10px; margin-top: -10%; background-color: whitesmoke; text-align: center; border-radius: 10%;"><span class="material-symbols-outlined">
                person
                </span>마이페이지</h2>
            <h3>회원정보 수정</h3>
            <label>이메일
            <input type="text" placeholder="{{current_user.get_id}}" disabled></label>
            <p>이메일(ID)은 변경할 수 없습니다.</p>

            <label for="current-password">기존 비밀번호</label>
            <input type="password" id="current-password" placeholder="기존 비밀번호를 입력하세요">
            <p class="subtext"></p>

            <label for="new-password">새 비밀번호</label>
            <input type="password" id="new-password" placeholder="변경할 비밀번호를 입력하세요">
            <p class="newPw"></p>

            <label for="confirm-password">비밀번호 확인</label>
            <input type="password" id="confirm-password" placeholder="비밀번호를 다시 입력하세요">
            <p class="newPwCheck"></p>

            <label for="nickname">새 닉네임</label>
            <input type="text" id="nickname" placeholder="변경할 닉네임을 입력하세요">
            <p class="newnick"></p>
            <div style="display: flex; justify-content: space-between;">
                <input type="button" value="수정" style="background-color: #6A24FE;" id="submitButton" onclick="changeInfo()">
                <input type="button" value="취소" onclick="location.href='myPage.html'">
            </div>
        </div>
    </div>

    <script src="../static/updateInfo.js"></script>
</body>
</html>
