section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;   
}

.challenge-info {
    padding: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.cateHeader a {
    text-decoration: none;
    padding: 20px;
    color: black;
    font-size: 20px;
}
.postdetail {
    position: relative;
    width: 45%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.feed-date {
    position: absolute;
    right: 10px;
    font-size: 13px;
    font-weight: 600;
    color: gray;
}
.post-image {
    width: 45%;
    aspect-ratio: 1;
    object-fit: cover;
}
.post-title{
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    flex-grow: 0;
}
.post-detail {
    margin: 10px 0;
    overflow-y: auto;
}
.post-menu-container {
    display: flex;
    width: 100%;
    flex-grow: 0;
}
.post-menu-startDay{    
    width: 100%;
    padding: 5px;
}

.post-menu-container i{
    margin-right: 5px;
}
.post-menu {
    min-width: 5%;    
    margin-right: 15%;
    padding: 5px;
}

.date-row {
    display: flex;
    justify-content: right;
    flex-grow: 0;
}
.sub-row {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
}

.detail {
    max-height: 5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    font-size: 14px;
    padding: 10px;
}

.feed {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: 1px lightgray solid;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.feed a:hover {
    background-color: lightgray;
}
.feed-img { 
    padding: 10px;   
    width: 60%;
    aspect-ratio: 1.6;
    object-fit: cover;
    align-self: center;
    margin: 0 auto;
    display: block;
}
.content-menu-container {
    display: flex;
    margin-top: 10px;
}
.content-menu {
    min-width: 5%;
    margin-left: 5%;
    margin-right: 15%;
}
.post-profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.post-profile-img {
    width: 2em;
    aspect-ratio: 1;
    margin-right: 10px;
    border-radius: 70%;
    object-fit: cover;
}
.post-content {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.post-content-record{
    padding: 5px;
    margin : 10px 5px 5px 5px;
    text-align: left;
    font-weight: bold ;
    align-self: flex-start;    
}


.bar-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 20px;
    background-color: #f0f0f0;            
    margin-bottom: 10px;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    
}
.progress-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-weight: bold;
    text-align: center;
}
.bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #f0f0f0,#0000ff);
    transition: width 0.5s;
    border: 1px solid #ccc;
    
}

.post-qual {
    width: 100%;
    margin-top: 10px;    
    line-height: 1.6;
    padding-top: 10px;
    text-align: center;
}
.post-qual p {
    margin: 10px 0;
    cursor: pointer;
    color: blue;
}
.postmove {
    margin-top: 60px;
    text-align: center;
}
.postmove a {
    padding: 5px 10px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    margin-right: 10px;
    border: 1px solid #ccc;
}
.postmove a:hover {
    background-color: #ddd;
}
.confirm-content{
    width: 100%;
    display: block;
    padding: 10px;
    resize: none;
    border: 0;
    outline: 1px solid lightgray;
    border-radius: 5px;
}
.imageUpload-contain {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.upload-label {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    background-color: #6541b2;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 20%;
}
.upload-label:hover {
    background-color: #4e1ea3;;
}
input[type="file"] {
    display: none;
}
.image-preview {
    border: 2px dashed lightgray;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.image-preview img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: right;
}
.button-group {
    width: 100%;
    gap: 15px;
    display: flex;    
    justify-content: right;
    padding: 10px;
    margin-bottom: 5px;
}
.button-group button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #6541b2;
    border-radius: 5px;
    color: #fff;
    text-align: center;    
    width: 30%;
    border: none;
}
.button-group button:hover{
    background-color: #4e1ea3;
    font-weight: bold;
}

.block-area {
    display: flex;
    width: 500px;
    margin: 10px;
    flex-wrap: wrap;
    align-self: flex-start;
}
.block {
    width: 15px;
    height: 15px;
    margin: 5px;
}

#chal-like:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10px;
}