.image-container {
    width: 100%;
    max-width: 600px;
    max-height: 400px;
}
#main-image {
    width: 100%;
    height: auto;
  }

.title {
    padding: 10px;
    width: 100%;
    display: flex;    
    gap: 10px;
    align-items: center;
}
.title-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-img img{
    width: 50px;
    height: 50px; 
    object-fit: cover;
}

.event-box {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(228, 228, 228, 0.075);
}

.event-box-icon {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-box-icon img {
    width: 35px;
}

.event-box .box {
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(17, 5, 5, 0.1);
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.event-box .box span {
    font-size: 12px;
    font-weight: lighter;
    color: rgb(145, 145, 145);
}

.challenge-category {
    margin-top: 20px;
    border-bottom: 5px solid rgba(17, 5, 5, 0.1);
}

.challenge-category-box {
    margin: 5px;
    /* padding-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.challenge-category-icon {
    background-color: #ffffff62;
    border: 1px solid #eceaea;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.content-menu-container {
    display: flex;
    margin-top: 10px;
}
.content-menu {
    min-width: 5%;
    margin-left: 5%;
    margin-right: 15%;
}

.challenge-container {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0px;
    border-bottom: 5px solid rgba(17, 5, 5, 0.1);
}

.challenge-section {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.challenge {
    position: relative;
    /* border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: 1px lightgray solid; */
    display: inline-block;
    position: relative;
    width: 44%;
    aspect-ratio: 0.8;
    margin: calc(2.5% - 10px);
    padding: 10px;
}

.challenge-img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.challenge-like {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bolder;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.challenge p {
    font-size: 12px;
    color: #3d3c3c;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1 ;
    -webkit-box-orient: vertical;
}

.challenge h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1 ;
    -webkit-box-orient: vertical;
}

.challenge:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    border-radius: 5px;
}

.detail {
    max-height: 5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    font-size: 14px;
    padding: 10px;
}

.post-date {
    position: absolute;
    right: 10px;
}

.feed-date {
    position: absolute;
    right: 10px;
    font-size: 13px;
    font-weight: 600;
    color: gray;
}

.post-profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.post-profile-img {
    width: 2em;
    aspect-ratio: 1;
    margin-right: 10px;
    border-radius: 70%;
    object-fit: cover;
}

.feed {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: 1px lightgray solid;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.feed a:hover {
    background-color: lightgray;
}
.feed-img { 
    padding: 10px;   
    width: 60%;
    aspect-ratio: 1.6;
    object-fit: cover;
    align-self: center;
    margin: 0 auto;
    display: block;
}

.challenge-select {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
}

.challenge-select div {
    margin: 15px;
    padding: 8px;
    border-radius: 40%;
    flex: 3;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;    
}

.challenge-select div:hover:not(.selected) {
    background-color: lightgray;
}

.selected {
    background-color: black;
    color: white;
}

/* 좌우 스크롤 */
.swiper-container {
    max-width: 100%;
    overflow: hidden; /* 넘치는 내용 숨기기 */
    margin: auto; /* 가운데 정렬 */
    padding: 0px 20px 20px 20px;
}
.swiper-slide {
    width: auto;    
}

/* 더보기 */
.challenge-more-container {                        
    width: auto;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;            
    display: flex;
    justify-content: center;
}
.challenge-more {            
    width: 150px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    text-decoration: none;
    border-bottom: 2px solid gray;    
}         
.challenge-more-container p {
    font-size: 13px;
    font-weight: bold;       
    text-align: center;       
}