section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.confirm-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.confirm-content{
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
}
textarea {
    width: 100%;
    display: block;
    padding: 10px;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.imageUpload-contain {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: right;
}
.upload-label {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    background-color: #6A24FE;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 20%;
}
.upload-label:hover {
    background-color: #4e1ea3;;
}
input[type="file"] {
    display: none;
}
.image-preview {
    border: 2px dashed lightgray;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.image-preview img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
}
.button-group, .title {
    text-align: center;
    width: 100%;
}
.button-group button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;

}